{extend name='view/public' /}
{block name='css'}
<style>

</style>
{/block}

{block name='content'}

<fieldset class="layui-elem-field layui-field-title">
<legend>单页内容管理</legend>
</fieldset>
<script type="text/html" id="barDemo">
<button class="layui-btn layui-btn-xs" lay-event="edit">编辑</button>
<button class="layui-btn layui-btn-xs" lay-event="detail">查看</button>
</script>
<table class="layui-table" id="content"  lay-filter="content"></table>



<div id="addNews" style="display:none!important;padding: 30px;">
    <form class="layui-form" action="" lay-filter="test">
        <input type="text" hidden name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">页面描述</label>
            <div class="layui-input-block">
                <input type="text" name="page_desc" required  lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">页面关键词</label>
            <div class="layui-input-block">
                <input type="text" name="page_key" required  lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新闻内容</label>
            <div class="layui-input-block">
                <textarea id="container" style="height: 300px;width: 700px" name="page_content" type="text/plain"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <button type="button" lay-submit lay-filter="go" class="layui-btn layui-btn-normal">提交</button>
            </div>
        </div>
    </form>
</div>


{/block}

{block name="js"}
<script type="text/javascript" src="_ST_/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="_ST_/js/ueditor/ueditor.all.js"></script>
<script>
    var ue = UE.getEditor('container');
    layui.use(['table',"form","upload"], function() {
        var table = layui.table;
        const form = layui.form;
        var tableIns = table.render({
            elem: '#content'
            ,height: 660
            ,url: '/admin_login_en/api/pages' //数据接口
            ,page: false //开启分页
            ,cols: [[
                {field:'id', title:'ID',width:80,sort: true, }
                ,{field:'page_name',width:160, title:'页面名称'}
                ,{field:'page_desc', title:'页面描述'}
                ,{field:'page_key', title:'页面关键词'},
                {field: '',title:"操作",width:160,templet: "#barDemo"}
            ]]
        });
        table.on('tool(content)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'edit') {
                $.get('/admin_login_en/api/getPage/id/'+data.id,function (res){
                    if(res.code===200){
                        $("input[name='id']").val(res.data.id)
                        form.val("test", {
                            "page_name": res.data.page_name
                            ,"page_desc": res.data.page_desc
                            ,"page_key": res.data.page_key
                        });
                        let value = res.data.page_content
                        setTimeout(function (){
                            ue.setContent(value,false)
                        },200)
                        layer.open({
                                title:res.data.page_name+"编辑",
                                type:1,
                                content:$('#addNews'),
                                area:['866px','690px'],
                                shade: 0,
                                cancel: function(index, layero){
                                    layer.close(index)
                                    $("#addNews").css('display','none')
                                    return false;
                                }

                            }
                        );

                    }else{
                        layer.msg(res.msg,{icon:5,time:2000})
                    }

                })
            }
        });

        form.on('submit(go)',function (data){
            var  url = "/admin_login_en/api/page_update/id/"+data.field.id
            $.post(url,{data:data.field},function (res){
                if(res.code===200){
                    layer.msg(res.msg,{icon:6,time:2000})
                    setTimeout(function (){layer.closeAll();$("#addNews").css('display','none')},2000)
                    tableIns.reload();
                    return 1;
                }
                layer.msg(res.msg,{icon:5,time:2000})
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        })
    });

</script>
{/block}