{extend name='view/public' /}
{block name="css"}
<style>
    .layui-inline{
        width: 30%;
    }
    .show-icon{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 5px;
        font-size: 20px;
        color: #878787;
        cursor: pointer;
    }
    .layui-input{
        padding-left: 30px;
    }
    .layui-form-label{
        width: 120px!important;
    }
    .up-btn{
        position: absolute;
        right: 0;
        transform: translate(0%, -100%);
    }
    .img-lo{
        width: 70%;
    }
    .img-show{
        position: absolute;
        width: 120px;
        height: 80px;
        background: #FFF;
        z-index: 9;
        top: -20px;
        left: 30px;
        display: none;
        text-align: center;
        line-height: 80px;
    }
    .img-show img{
        max-width: 100%;
    }
</style>
{/block}
{block name="content"}
<div class="wrapper wrapper-content">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>系统配置</legend>
    </fieldset>
    <form class="layui-form " method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">网站名称</label>
            <div class="layui-inline">
                <input type="text" name="web_name" autocomplete="off" value="{$info['web_name']}"  lay-verify="required" placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_name</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站网址</label>
            <div class="layui-inline">
                <input type="text" name="web_url" autocomplete="off" value="{$info['web_url']}"  lay-verify="required"  placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_url</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站Logo</label>
            <div class="layui-inline">
                <input type="text" name="web_logo" autocomplete="off" value="{$info['web_logo']}" id="logo" placeholder="" class="layui-input img-lo">
                <i class="layui-icon show-icon" data-tag="web_logo">&#xe64a;</i>
                <button type="button" class="layui-btn up-btn" id="test1"><i class="layui-icon"></i>上传文件</button>
                <div class="img-show"><img src="{$info['web_logo']}" id="web_logo" alt=""></div>
            </div>
            <div class="layui-inline">变量名：web_logo</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站icon</label>
            <div class="layui-inline">
                <input type="text" name="web_icon" value="{$info['web_icon']}" autocomplete="off" id="icon" placeholder="" class="layui-input img-lo">
                <i class="layui-icon show-icon" data-tag="web_icon">&#xe64a;</i>
                <button type="button" class="layui-btn up-btn" id="test2"><i class="layui-icon"></i>上传文件</button>
                <div class="img-show"><img src="/" id="web_icon" alt=""></div>
            </div>
            <div class="layui-inline">变量名：web_icon</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站关键词</label>
            <div class="layui-inline">
                <input type="text" name="web_key" autocomplete="off"value="{$info['web_key']}" lay-verify="required" placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_key</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站描述</label>
            <div class="layui-inline">
                <input type="text" name="web_desc" autocomplete="off" value="{$info['web_desc']}" lay-verify="required" placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_desc</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系人</label>
            <div class="layui-inline">
                <input type="text" name="web_user" autocomplete="off" value="{$info['web_user']}"  placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_user</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-inline">
                <input type="text" name="web_phone" autocomplete="off" value="{$info['web_phone']}"  placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_phone</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-inline">
                <input type="text" name="web_moblie" autocomplete="off" value="{$info['web_moblie']}"  placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_moblie</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-inline">
                <input type="text" name="web_email" autocomplete="off" value="{$info['web_email']}"  placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_email</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">二维码</label>
            <div class="layui-inline">
                <input type="text" name="web_wx" autocomplete="off" value="{$info['web_wx']}" id="qrcode" placeholder="" class="layui-input img-lo">
                <i class="layui-icon show-icon" data-tag="web_logo">&#xe64a;</i>
                <button type="button" class="layui-btn up-btn" id="test3"><i class="layui-icon"></i>上传文件</button>
                <div class="img-show"><img src="{$info['web_wx']}" id="web_wx" alt=""></div>
            </div>
            <div class="layui-inline">变量名：web_logo</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">传真</label>
            <div class="layui-inline">
                <input type="text" name="web_fax" autocomplete="off" value="{$info['web_fax']}"  placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_fax</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公司地址</label>
            <div class="layui-inline">
                <input type="text" name="web_addr" autocomplete="off" value="{$info['web_addr']}"  placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_addr</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">版权所有</label>
            <div class="layui-inline">
                <input type="text" name="web_bq" autocomplete="off" value="{$info['web_bq']}"  placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_bq</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备案号</label>
            <div class="layui-inline">
                <input type="text" name="web_ba" autocomplete="off" value="{$info['web_ba']}"  placeholder="" class="layui-input">
            </div>
            <div class="layui-inline">变量名：web_ba</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">第三方代码</label>
            <div class="layui-inline">
                <textarea placeholder="请输入内容" name="web_js" class="layui-textarea">{$info['web_js']|raw}</textarea>
            </div>
            <div class="layui-inline">变量名：web_js</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="button" lay-submit="" lay-filter="submit">立即提交</button>
            </div>
        </div>
    </form>
</div>
{/block}


{block name="js"}
<script>
    $(".show-icon").on('mouseover',function(){
        $(this).parent('div').children('div').css('display','block')
    }).mouseout(function (){
        $(this).parent('div').children('div').css('display','none')
    })

    layui.use(["layer","upload",'form'],function (){
        const layer = layui.layer;
        const upload = layui.upload;
        const form = layui.form;
        form.on('submit(submit)',function (data){
            $.post('/admin_login_en/api/system',{data:data.field},function (res){
                if(res.code===200){
                    layer.msg(res.msg,{icon:6,time:2000})
                }else{
                    layer.msg(res.msg,{icon:5,time:2000})
                }
            })
        })
        upload.render({ //允许上传的文件后缀
            elem: '#test1'
            ,url: '/admin_login_en/upload/upload' //此处配置你自己的上传接口即可
            ,accept: 'file' //普通文件
            ,exts: 'png|jpg|jpeg|gif' //只允许上传压缩文件
            ,done: function(res){
                if(res.code===200){
                    layer.msg('上传成功');
                    $("#web_logo").attr("src",res.data)
                    $("#logo").val(res.data)
                }
            }
        });
        upload.render({ //允许上传的文件后缀
            elem: '#test2'
            ,url: '/admin_login_en/upload/upload' //此处配置你自己的上传接口即可
            ,accept: 'file' //普通文件
            ,exts: 'ico' //只允许上传压缩文件
            ,done: function(res){
                layer.msg('上传成功');
                $("#web_icon").attr("src",res.data)
                $("#icon").val(res.data)
            }
        });
        upload.render({ //允许上传的文件后缀
            elem: '#test3'
            ,url: '/admin_login_en/upload/upload' //此处配置你自己的上传接口即可
            ,accept: 'file' //普通文件
            ,exts: 'ico' //只允许上传压缩文件
            ,done: function(res){
                layer.msg('上传成功');
                $("#web_wx").attr("src",res.data)
                $("#qrcode").val(res.data)
            }
        });
    });
</script>

{/block}