@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1642394867569') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e637";
}

.icon-weixin:before {
  content: "\e64f";
}

.icon-iconfontzhizuobiaozhun023133:before {
  content: "\e687";
}

.icon-qq:before {
  content: "\e611";
}

.icon-ico:before {
  content: "\e646";
}

.icon-dingbu:before {
  content: "\e61f";
}

