{extend name='view/public' /}
{block name='css'}
<style>
    .layui-table tr{
        height: 30px;
    }
    layui-table-header{
        height: 28px!important;
        line-height: 28px;
    }
    .layui-table-body .layui-table-cell{
        height: 30px;
        line-height: 30px;
    }
    .top-btn{
        margin-left: 20px;
    }
</style>
<style>
    .layui-inline{
        width: 70%;
    }
    .show-icon{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 5px;
        font-size: 20px;
        color: #878787;
        cursor: pointer;
    }
    .layui-input{
        padding-left: 30px;
    }
    .layui-form-label{
        width: 120px!important;
    }
    .up-btn{
        position: absolute;
        right: 0;
        transform: translate(0%, -100%);
    }
    .img-lo{
        width: 70%;
    }
    .img-show{
        position: absolute;
        width: 120px;
        height: 80px;
        background: #FFF;
        z-index: 9;
        top: -20px;
        left: 30px;
        display: none;
        text-align: center;
        line-height: 80px;
    }
    .img-show img{
        max-width: 100%;
    }
    .layui-input-block {
        margin-left: 150px;
        min-height: 36px;
    }
    .add-tag{
        height: 30px;
        margin-bottom: 5px;
    }
    .tops{
        display: flex;
    }
    .top-form{
        width: 60%;
        margin-left: 40px;
    }
</style>

{/block}

{block name='content'}

<fieldset class="layui-elem-field layui-field-title">
    <legend>分类管理</legend>
</fieldset>
<div class="tops">
    <button type="button" onclick="addBanner()" class="top-btn layui-btn layui-btn-normal">添加分类</button>
</div>
<script type="text/html" id="barDemo">
    <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</button>
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
    {{#  if(d.level==1){ }}
    <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="list">列表显示配置</button>
    <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">详情显示配置</button>
    {{#  } }}
</script>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="show" value="{{d.id}}" lay-skin="switch" lay-text="显示|不显示" lay-filter="show" {{ d.show == 1 ?'checked' : '' }}>
</script>

<table class="layui-table" id="content"  lay-filter="content"></table>

<div id="addBanner" style="display:none;padding: 30px;">
    <form class="layui-form" action="" lay-filter="test">
        <input type="text" hidden name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">分类名称</label>
            <div class="layui-input-block">
                <input type="text" name="c_name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">URL名称</label>
            <div class="layui-input-block">
                <input type="text" name="url_name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级分类</label>
            <div class="layui-input-block">
                <select name="p_info" id="p-info" lay-filter="p_id">

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">SEO标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">SEO关键词</label>
            <div class="layui-input-block">
                <input type="text" name="keyword" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">SEO描述</label>
            <div class="layui-input-block">
                <input type="text" name="desc" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <button type="button" lay-submit lay-filter="go" class="layui-btn layui-btn-normal">提交</button>
            </div>
        </div>
    </form>
</div>
{/block}

{block name='js'}
<script>
    $(function (){
        $.get('/admin_login/api/getTree',function (res){
            if(res.code===200){
                var po = '<option value="0,0">顶级类目</option>';
                for (let i = 0; i < res.data.length; i++) {
                    po+='<option value="'+res.data[i]['id']+','+res.data[i]['level']+'">'+res.data[i]['c_name']+'</option>'
                    let sub = res.data[i].sub
                    for(let j=0;j< sub.length;j++){
                        po+='<option value="'+sub[j]['id']+','+sub[j]['level']+'">-->'+sub[j]['c_name']+'</option>'
                    }
                }
                $("#p-info").append(po)
                layui.use('form',function (){
                    var form = layui.form;
                    form.render();//添加这一句
                })
            }
        })
    })
    layui.use(['table',"form","upload"], function() {
        var table = layui.table;
        var form = layui.form;
        var upload =layui.upload;
        form.render();//添加这一句
        var tableIns = table.render({
            elem: '#content'
            ,height: 660
            ,url: '/admin_login/api/category' //数据接口
            ,page: true //开启分页
            ,cols: [[
                {field:'id', title:'ID',width:80,sort: true, }
                ,{field:'c_name', title:'分类名称'}
                ,{field:'p_id', title:'上级分类ID'}
                ,{field:'p_count', title:'类目产品数'}
                ,{field:'title', title:'类目标题'}
                ,{field:'keyword', title:'类目关键词'}
                ,{field:'desc', title:'类目描述'}
                ,{field:'show', title:'是否显示',templet: "#switchTpl"}
                ,{field: '',title:"操作",width:380,templet: "#barDemo"}
            ]]
        });
        table.resize('content');
        table.on('tool(content)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除么?', function (index) {
                    $.get('/admin_login/api/category_del/id/' + data.id, function (res) {
                        if (res.code === 200) {
                            layer.msg(res.msg, {icon: 6, time: 2000});
                            obj.del();
                            up()
                        } else {
                            layer.msg(res.msg, {icon: 5, time: 2000});
                        }
                    })
                })
            } else if (obj.event === 'edit') {
                $.get('/admin_login/api/getCategory/id/'+data.id,function (res){
                    if(res.code===200){
                        $("input[name='id']").val(res.data.id)
                        form.val("test", {
                            "c_name": res.data.c_name
                            ,"p_info": res.data.p_info
                            ,"url_name": res.data.url_name
                            ,"title":res.data.title
                            ,"keyword":res.data.keyword
                            ,"desc":res.data.desc
                        });
                        form.render();//添加这一句
                        layer.open({
                                title:"编辑分类",
                                type:1,
                                content:$('#addBanner'),
                                area:['556px','450px'],
                                shade: 0,
                                cancel: function(index, layero){
                                    layer.close(index)
                                    $("#addBanner").css('display','none')
                                    return false;
                                }

                            }
                        );

                    }else{
                        layer.msg(res.msg,{icon:5,time:2000})
                    }

                })
            }else if(obj.event === "list"){
                layer.open({
                    title:"编辑列表页显示属性",
                    type:2,
                    area:['586px','550px'],
                    content:'/admin_login/index/listSet/id/'+data.id
                })
            }else if(obj.event === "detail"){
                layer.open({
                    title:"编辑产品详情页顶部显示",
                    type:2,
                    area:['586px','550px'],
                    content:'/admin_login/index/detailSet/id/'+data.id
                })
            }
        });
        //监听性别操作
        form.on('switch(show)', function(obj){
            $.post("/admin_login/api/category_show/id/"+this.value,{value:obj.elem.checked},function (res){
                if(res.code===200){
                    layer.msg(res.msg,{icon:6,time:2000})
                }else{
                    layer.msg(res.msg,{icon:5,time:2000})
                }
            })
        });
        form.on('submit(go)',function (data){
            var url = "/admin_login/api/addCategory"
            if(data.field.id!=="") {
                url = "/admin_login/api/category_update/id/" + data.field.id
            }
            $.post(url,{data:data.field},function (res){
                if(res.code===200){
                    layer.msg(res.msg,{icon:6,time:2000})
                    setTimeout(function (){layer.closeAll();$("#addBanner").css('display','none')},2000)
                    tableIns.reload();
                    up();
                    return 1;
                }
                layer.msg(res.msg,{icon:5,time:2000})
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        })
    });
    function addBanner(){
        $("input[name='c_name']").val('');
        $("input[name='url_name']").val('');
        $("input[name='id']").val('')
        layer.open(
            {
                title:'添加分类',
                type:1,
                content:$('#addBanner'),
                area:['556px','450px'],
                shade: 0,
                cancel: function(index, layero){
                    layer.close(index)
                    $("#addBanner").css('display','none')
                    return false;
                }
            }
        );
    }
    function up(){
        $.get('/admin_login/api/getTree',function (res){
            if(res.code===200){
                $("#p-info").html('');
                var po = '<option value="0,0">顶级类目</option>';
                for (let i = 0; i < res.data.length; i++) {
                    po+='<option value="'+res.data[i]['id']+','+res.data[i]['level']+'">'+res.data[i]['c_name']+'</option>'
                    let sub = res.data[i].sub
                    for(let j=0;j< sub.length;j++){
                        po+='<option value="'+sub[j]['id']+','+sub[j]['level']+'">-->'+sub[j]['c_name']+'</option>'
                    }
                }
                $("#p-info").append(po)
                form.render();//添加这一句
            }
        })
    }
</script>

{/block}